.about-mission {
  padding-top: 81px;
  padding-bottom: 80px;
  background-color: var(--color-gray-200);

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);
    margin-bottom: 27px;
  }

  &__item {
    position: relative;
    padding-top: 70px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url('../img/divider.svg');
      }
    }

    &--quality {
      background-image: url('../img/quality.svg');
    }

    &--safety {
      background-image: url('../img/safety.svg');
    }

    &--comfort {
      background-image: url('../img/comfort.svg');
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-gray-900);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray-700);
  }
}
