.project-goal {
  padding-top: 20px;
  padding-bottom: 120px;

  &__left {
    grid-column: 6 span;
  }
  &__right {
    grid-column: 6 span;
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    padding-top: 35px;
    margin-bottom: 40px;
  }

  &__descr {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray-800);
  }
}

.project-info {
  border-radius: 4px;
  padding: 36px 55px;
  padding-bottom: 25px;
  width: 495px;
  box-shadow:
  0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background: var(--color-light);

  &__item {
    display: flex;
  }

  &__category {
    margin-bottom: 16px;
    width: 130px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--color-gray-900);
  }

  &__value {
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray-700);
  }
}
