.recent-news {
  padding-top: 80px;
  padding-bottom: 119px;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 59px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: var(--grid-gap);
  }

  &__item {
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }
}

