.services-benefits {
  padding-top: 80px;
  padding-bottom: 48px;
  background-color: var(--color-gray-900);

  &__title {
    color: var(--color-light);
  }

  &__btn {
    padding: 15px 110px;
    transform: translateY(74px);
  }

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);
    margin-bottom: 27px;
  }

  &__item {
    position: relative;
    padding-top: 70px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        opacity: .4;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url('../img/divider.svg');
      }
    }

    &--terms {
      background-image: url('../img/terms.svg');
    }

    &--workers {
      background-image: url('../img/workers.svg');
    }

    &--supervision {
      background-image: url('../img/supervision.svg');
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-light);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-light);
    opacity: .6;

    &--big {
      font-size: 18px;
      line-height: 150%;
      color: var(--color-light);
      opacity: .6;
    }
  }
}

