<section class="partners">
  <div class="container">
    <h2 class="title title--center partners__title">Supported by 12+ partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-1.svg" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-2.svg" alt="HIGHER FIT" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-3.svg" alt="SENTINAL CONSULTING" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-4.svg" alt="HAPPY HOME" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-5.svg" alt="ForSale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-6.svg" alt="Sunsale Realty" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
