<section class="partners--about">
  <div class="container">
    <h2 class="title title--center partners__title--about">Our partners</h2>
    <p class="partners__descr">We are supported by 12+ industry bodies and media partners</p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-1.png" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-2.png" alt="HIGHER FIT" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-3.png" alt="SENTINAL CONSULTING" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-4.png" alt="HAPPY HOME" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-5.png" alt="ForSale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-6.png" alt="Sunsale Realty" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-7.png" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-8.png" alt="HIGHER FIT" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-9.png" alt="SENTINAL CONSULTING" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-10.png" alt="HAPPY HOME" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-11.png" alt="ForSale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-12.png" alt="Sunsale Realty" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
