<section class="team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">People are at the heart of Createx Construction Bureau</p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="Alexander">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__pos">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-2.jpg" alt="Alexander">
        <div class="team__name">Calvin Fox</div>
        <div class="team__pos">CTO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-3.jpg" alt="Alexander">
        <div class="team__name">Johnny Lane</div>
        <div class="team__pos">Commercial Manager</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-4.jpg" alt="Alexander">
        <div class="team__name">Diane Mccoy</div>
        <div class="team__pos">Director of Human Resources</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-5.jpg" alt="Alexander">
        <div class="team__name">Judith Warren</div>
        <div class="team__pos">Lead Accountant</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-6.jpg" alt="Alexander">
        <div class="team__name">Floyd Simmmons</div>
        <div class="team__pos">Finacial Director</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-7.jpg" alt="Alexander">
        <div class="team__name">Serenity Edwards</div>
        <div class="team__pos">Director of Marketing</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-8.jpg" alt="Alexander">
        <div class="team__name">Shawn Edwards</div>
        <div class="team__pos">Tech Lead</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="team__text">Become a part of the best team in the construction market of the USA. <a href="#">Available Positions</a></div>
  </div>
</section>
