<section class="we-offer">
  <div class="container we-offer__container">
    <div class="we-offer__image">
      <img src="img/we-offer.jpg" alt="We offer smth" class="we-offer__image">
    </div>
    <div class="we-offer__content">
      <h2 class="title we-offer__title">We offer</h2>

      <div class="accord we-offer__accord">
        <input class="accord__input" type="checkbox" id="title1" />
        <label class="accord__label" for="title1">
          <h3 class="accord__title">
            <span class="accord__icon"></span>
            Interior design of&nbsp;apartments
          </h3>
        </label>
        <div class="accord__content">
          <p class="accord__descr">Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.</p>
        </div>
        <input class="accord__input" type="checkbox" id="title2" />
        <label class="accord__label" for="title2">
          <h3 class="accord__title">
            <span class="accord__icon"></span>
            Interior design of&nbsp;private houses
          </h3>
        </label>
        <div class="accord__content">
          <p class="accord__descr">Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.</p>
        </div>
    </div>
  </div>
</section>
